/*
 * Suomen frisbeegolfliitto Kisakone CSS
 *
 * Copyright 2013-2014 Tuomo Tanskanen <tumi@tumi.fi>
 */

body, html {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 11pt;
    color: #293150;
    background-color: #eaeaea;
}

html, body, #contentcontainer, #maintr2 {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#headtr {
    /* any small value will do, it'll expand as necessary but not beyond */
    height: 32px;
}

h2 {
    font-variant: small-caps;
    margin-left: -5px;
    margin-right: -15px;
    padding: 3px 0px 10px 16px;
    height: 20px;
    width: 95%;
    border-radius: 3px;
    color: #ffffff;
    background-color: #293150;
    background-image: linear-gradient(to right, #293150 50%, #FFFFFF 100%);
    border: none;
}

h3 {
    border-left: 2px dotted #293150;
    border-bottom: 2px dotted #293150;
    padding-left: 6px;
    padding-bottom: 2px;
    font-variant: small-caps;
    border-radius: 3px;
    width: 95%;
}

h1, h4, h5, h6 {
    font-variant: small-caps;
}

a {
    color: blue;
}

table {
    width: 100%;
}

td {
    vertical-align: top;
}

th {
    text-align: left;
    padding-right: 8px;
}

#header {
    background-color: #ffffff;
    color: #293150;
    height: 100px;
    text-align: center;
    font-variant: small-caps;
    overflow: hidden;
}

#header a {
    font-weight: bold;
}

#sitename {
    margin-left: -47px;
    margin-right: 60px;
    display: inline-block;
}

h1#title {
    margin: 0px;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    text-shadow: rgba(0,0,0,0.3) 0 1px 1px;
}

#pagename {
    font-size: 16px;
    margin: 4px;
}

#sitelogo {
    float: left;
    margin: 4px;
    height: 80px;
    margin-top: 10px;
}

.loginbox {
    float: right;
    font-size: 0.8em;
    margin: 16px;
    padding-left: 12px;
    color: #293150;
    text-align: left;
    min-height: 100px;
    min-width: 200px;
}

#login_form {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 230px;
    padding: 4px;
    background-color: #DFE0E5;
    border: 1px solid #295150;
}

#login_form a {
    color: #293150;
    text-decoration: underline;
}

#login_form input[type="text"], #login_form input[type="password"] {
    vertical-align: bottom;
    width: 80%;
}

a.link-as-button, button, input[type="submit"] {
    font-variant: small-caps;
    display: inline-block;
    background-color: #DFE0E5;
    color: #293150;
    text-decoration: none;
    border: 1px solid #293150;
    border-radius: 6px;
    padding: 5px;
    margin-bottom: 2px;
    text-align: center;
    min-width: 50px;
    max-width: 100px;
    font-weight: bold;
}

a.link-as-button:hover, button:hover, input[type="submit"]:hover {
    color: #437141;
    background-color: #ffffff;
    font-weight: bold;
}

.evenform label {
    float: left;
    clear: both;
    min-width: 140px;
}

#loginform_x img {
    width: 20px;
    height: 20px;
}

.dialogx {
    width: 20px;
    height: 20px;
    float: right;
}

.loginbox div {
    padding-bottom: 5px;
}

#contentcontainer {
    clear: left;
    width: 100%;
    background-color: #ffffff;
}

#contentcontainer a:hover {
    text-decoration: none;
}

#mainmenu, #mainmenu li, .submenu, .submenu li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#mainmenu li:hover {
    background-color: #437141;
}

#mainmenu a {
    text-decoration: none;
}

#mainmenu a:hover {
    text-decoration: underline;
}

.submenu img {
    border: none;
}

#submenucontainer {
    color: #293150;
    background-color: #ffffff;
    border-right: 2px dashed #293150;
}

#submenucontainer a {
    color: #293150;
}

#submenucontainer a:hover {
    text-decoration: underline;
}

.submenu li {
    margin-left: 12px;
    padding-left: 4px;
}

.submenu a {
    text-decoration: none;
}

#mainmenu {
    font-variant: small-caps;
    background-color: #293150;
    height: 35px;
    background-color: #293150;
    /* background-image: linear-gradient(to right, #293150 60%, #FFFFFF 100%); */
}

#mainmenu li {
    float: left;
    min-width: 120px;
    padding-top: 3px;
    text-align: center;
    color: white;
    font-size: 1.3em;
    font-weight: normal;
    border-right: 1px solid #525252;
    height: 32px;
}

#mainmenu a {
    display: block;
    color: #ffffff;
    height: 32px;
    padding-top: 3px;
}

#submenucontainer {
    width: 12em;
}

#zmainmenu .selected {
    background-color: #285ea6;
}

#zmainmenu .selected a {
    color: white;
    text-decoration: none;
}

#submenu a {
    color: #293150;
}

#content {
    padding: 16px;
}

#adbannercontainer {
    max-width: 200px;
    padding: 0;
    background-color: #ffffff;
    overflow: auto;
}

#helpcontainer {
    width: 320px;
    background-color: #DFE0E5;
}

#adbanner {
    height: 300px;
}

.evenform input[type="text"], .evenform select, .evenform textarea, .evenform input[type="password"]{
    min-width: 280px;
    margin-bottom: 1em;
}

.evenform input[type="submit"] {
    min-width: 100px;
    margin-bottom: 1em;
}

.form_fill_instruction {
    font-size: 0.8em;
    margin-bottom: 1.5em;
}

.formelements {
    float: left;
}

.form_end {
    clear: both;
    margin: 24px;
}

.form_end input {
    float: right;
    margin-right: 24px;
}

.autocomplete-w1 {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 8px 0 0 6px;
    /* IE6 fix: */
    _background: none;
    _margin: 0;
}

.autocomplete {
    border: 1px solid #999;
    background: #FFF;
    cursor:default;
    text-align:left;
    max-height:350px;
    overflow: auto;
    margin: -6px 6px 6px -6px;
    /* IE6 specific: */
    _height: 350px;
    _margin: 0;
    _overflow-x: hidden;
}

.autocomplete .selected {
    background: #F0F0F0;
}

.autocomplete div {
    padding: 2px 5px;
    white-space: nowrap;
}

.autocomplete strong {
    font-weight: normal;
    color: #3399FF;
}

.usersform input[type="text"] {
    min-width: 280px;
    margin-bottom: 1em;
}

.usersform input[type="submit"] {
    min-width: 100px;
    margin-bottom: 1em;
}

.jsonly {
    display: none;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.error {
    color: red;
    padding: 16px;
    background-color: #FEE;
    border-radius: 6px;
}

.searcharea {
    color: #ffffff;
    padding: 16px;
    background-color: #437141;
    border-radius: 6px;
}

.buttonarea {
    clear: both;
    padding: 16px;
    background-color: #DFE0E5;
}

.evenform .checkboxlabel {
    float: none;
}

.fielderror {
    display: inline;
    color: red;
}

.editList, .editList li {
    list-style-type: none;
}

.note {
    font-size: 0.8em;
}

.narrow {
    width: auto;
}

.sitenews {
    font-size: 0.9em;
    margin: 8px;
}

.submenu0 > li > span, .submenu0 > li > a {
    font-weight: bold;
}

.submenu0 > li {
    margin-bottom: 16px;
}

.nofloatylabels label {
    float: none;
}

.hilightedrow {
    background-color: #437141 !important;
    color: #ffffff;
}

.hilightedrow a {
    color: #ffffff;
}

.event_row a:hover {
    text-decoration: none;
}

.hot_event_row a {
    color: #bd0d00;
}

.doubleHilight {
    background-color: #DFD;
}

a img {
    border: none;
}

.nobullets, .nobullets li {
    list-style-type: none;
}

.ad_none {
    display: none;
}

.bad_class {
    background-color: #FAA;
}

.event_links a {
    display: inline-block;
    margin-right: 8px;
}

.classes_max_width {
    word-wrap: break-word;
    max-width: 20em;
}
